<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">

    <title></title>
  </head>
  <body>
    <div class="main-c">

    {{>header}}

    <form>
      <input class="inputarea" type="text" name="" value="" placeholder="Enter location">
      <button class="subbut" type="submit" name="button">Submit</button>
    </form>

<p class="output"></p>



    </div>
    {{>footer}}

    <script src="/js/index.js"></script>
  </body>
</html>
