<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/styles.css">

    <title></title>
  </head>
  <body>
    <div class="main-c">

    {{>header}}

    <form>
      <input type="text" name="" value="" placeholder="Enter location">
      <button type="submit" name="button">Submit</button>
    </form>

<form class="" action="index.html" method="post">
  <input name="result"></input>
</form>



    </div>
    {{>footer}}

    <script src="/js/index.js"></script>
  </body>
</html>
