
body{
  color: #333333;
  font-family: arial;
  max-width: 650px;
  margin:0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: linear-gradient(to top, #AAAAAA, white);

}
.subbut{
  cursor: pointer;
  background-color: #111111;
  color: white;
  font-size: 17px;
}
/* .subbut:hover {
  background-color: grey;
  color: white;
} */

.subbut:active {
  background-color: black;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.inputarea{
  font-size: 17px;
  border-radius: 1px;
}
.output{
  font-weight: bold;
  font-size: 17px;
}
footer{
  color: #444444;
  border-top: 1px solid;
  margin-bottom: 32px;

}
.main-c{
  flex-grow: 1;
}
hr{
  color: red;
}
h1{
  font-size: 64px;
}
a{
  color:#888888;
  text-decoration: none;
  margin-right: 32px;
}
